<block name="body">
    <!-- Content -->
    <div id="content" class="container clearfix">

        <h1 class="page-title">Hello, <span class="accent">we are Rework</span><br />glad to see you</h1>

        <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <img src="__IMG__/content/slide_01.jpg" alt="" />
                    <div class="flex-caption">
                        <h3>Responsive Design</h3> <p>Duis fermentum auctor ligula ac malesuada. Mauris et metus odio, in pulvinar urna</p> <input type="submit" value="Learn More" class="red" />
                    </div>
                </li>
                <li>
                    <img src="__IMG__/content/slide_02.jpg" alt="" />
                    <div class="flex-caption">
                        <h3>Unique page layouts</h3> <p>Mauris sodales neque vitae justo sollicitudin aliquet sit amet diam. Curabitur sed fermentum dolor.</p> <input type="submit" value="Learn More" class="red" />
                    </div>
                </li>
                <li>
                    <img src="__IMG__/content/slide_03.jpg" alt="" />
                    <div class="flex-caption">
                        <h3>Even more innovation</h3> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dui orci, dapibus non luctus, ultrices vel nunc. Donec lacinia mattis erat sit amet blandit.</p> <input type="submit" value="Learn More" class="red" />
                    </div>
                </li>
            </ul>
        </div>
        <!-- /Slider -->

        <!-- Project Carousel -->
        <div id="project-wrapper" class="clearfix">

            <div class="section-title one-fourth">
                <h4>Latest Work</h4>
                <p>Phasellus id augue ligula, nec ultrices augue. Aliquam erat volutpat.</p>
                <p><a href="./portfolio_4_col.html">View more projects</a></p>
                <div class="carousel-nav">
                    <a id="project-prev" class="jcarousel-prev" href="./index.html"></a>
                    <a id="project-next" class="jcarousel-next" href="./index.html"></a>
                </div>
            </div>

            <ul class="project-carousel">
                <li>
                    <a href="./portfolio_details.html" class="project-item">
                        <img src="__IMG__/content/project_4_05.jpg" alt="" />
                        <div class="overlay">
                            <h5>Enhancing the moment</h5>
                            <p>Web Design</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./portfolio_details.html" class="project-item">
                        <img src="__IMG__/content/project_4_06.jpg" alt="" />
                        <div class="overlay">
                            <h5>Connecting pictures</h5>
                            <p>Motion Graphics</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./portfolio_details.html" class="project-item">
                        <img src="__IMG__/content/project_4_07.jpg" alt="" />
                        <div class="overlay">
                            <h5>Real-world workflow</h5>
                            <p>Artwork</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./portfolio_details.html" class="project-item">
                        <img src="__IMG__/content/project_4_08.jpg" alt="" />
                        <div class="overlay">
                            <h5>Completing the story</h5>
                            <p>Web Design</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./portfolio_details.html" class="project-item">
                        <img src="__IMG__/content/project_4_09.jpg" alt="" />
                        <div class="overlay">
                            <h5>Through the roads</h5>
                            <p>Animation</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./portfolio_details.html" class="project-item">
                        <img src="__IMG__/content/project_4_10.jpg" alt="" />
                        <div class="overlay">
                            <h5>The past</h5>
                            <p>Print Design</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /Project Carousel -->

        <!-- Blog Carousel -->
        <div id="blog-wrapper" class="clearfix">

            <div class="section-title one-fourth">
                <h4>From the blog</h4>
                <p>Phasellus id augue ligula, nec ultrices augue. Aliquam erat volutpat.</p>
                <p><a href="./blog.html">Read the blog</a></p>
                <div class="carousel-nav">
                    <a id="blog-prev" class="jcarousel-prev" href="./index.html"></a>
                    <a id="blog-next" class="jcarousel-next" href="./index.html"></a>
                </div>
            </div>

            <ul class="blog-carousel">
                <li>
                    <a href="./blog_post.html">
                        <h4>Feeling the Wrath</h4>
                    </a>
                    <span class="date">05 Jul 2012 · 22 Comments</span>
                    <p>Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. Duis pretium, urna sed pellentesque tincidunt, neque massa imperdiet nisi, sed cursus leo magna...</p>
                </li>
                <li>
                    <a href="./blog_post.html">
                        <h4>Craig's List</h4>
                    </a>
                    <span class="date">04 Jul 2012 · 22 Comments</span>
                    <p>Sed nunc tortor, sagittis quis viverra id, molestie vitae nibh. Donec vitae lacus sed risus accumsan consectetur ut a ligula. Etiam vitae nisi diam, in rutrum dui. In facilisis, erat sed laoreet aliquet, mauris urna placerat enim...</p>
                </li>
                <li>
                    <a href="./blog_post.html">
                        <h4>Summer Sounds</h4>
                    </a>
                    <span class="date">02 Jul 2012 · 22 Comments</span>
                    <p>Pellentesque ornare, risus et vulputate mollis, massa nulla aliquam neque, sed hendrerit orci quam eget ante. Morbi pulvinar ligula at sapien ultricies hendrerit. Morbi mollis dictum libero at ultrices...</p>
                </li>
                <li>
                    <a href="./blog_post.html">
                        <h4>Following Our Dreams</h4>
                    </a>
                    <span class="date">05 Jul 2012 · 22 Comments</span>
                    <p>Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. Duis pretium, urna sed pellentesque tincidunt, neque massa imperdiet nisi, sed cursus leo magna...</p>
                </li>
                <li>
                    <a href="./blog_post.html">
                        <h4>Sleeping Easy</h4>
                    </a>
                    <span class="date">04 Jul 2012 · 22 Comments</span>
                    <p>Sed nunc tortor, sagittis quis viverra id, molestie vitae nibh. Donec vitae lacus sed risus accumsan consectetur ut a ligula. Etiam vitae nisi diam, in rutrum dui. In facilisis, erat sed laoreet aliquet, mauris urna placerat enim...</p>
                </li>
                <li>
                    <a href="./blog_post.html">
                        <h4>Discovery Channel</h4>
                    </a>
                    <span class="date">02 Jul 2012 · 22 Comments</span>
                    <p>Pellentesque ornare, risus et vulputate mollis, massa nulla aliquam neque, sed hendrerit orci quam eget ante. Morbi pulvinar ligula at sapien ultricies hendrerit. Morbi mollis dictum libero at ultrices...</p>
                </li>
            </ul>
        </div>
        <!-- /Blog Carousel -->

        <!-- Logo List -->
        <div class="logo-list">
            <ul>
                <li><a href="./index.html"><div class="bw-wrapper"><img src="__IMG__/content/logo_list_01.png" alt="" /></div></a></li>
                <li><a href="./index.html"><div class="bw-wrapper"><img src="__IMG__/content/logo_list_02.png" alt="" /></div></a></li>
                <li><a href="./index.html"><div class="bw-wrapper"><img src="__IMG__/content/logo_list_03.png" alt="" /></div></a></li>
                <li><a href="./index.html"><div class="bw-wrapper"><img src="__IMG__/content/logo_list_04.png" alt="" /></div></a></li>
                <li><a href="./index.html"><div class="bw-wrapper"><img src="__IMG__/content/logo_list_05.png" alt="" /></div></a></li>
            </ul>
        </div>
        <!-- /Logo List -->

    </div>
    <!-- /Content -->
</block>