<block name="footer">
    <!-- Footer -->
    <div id="footer">
        <div class="container clearfix">

            <!-- About -->
            <div class="one-fourth">
                <a href="./index.html" class="logo"><img src="__IMG__/logo_footer.png" alt="" /></a>
                <p>Proin fermentum sollicitudin ante, sed tempor eros molestie id. Donec volutpat odio eu mi imperdiet nec laoreet diam venenatis. Nunc ac purus aliquet mauris interdum accumsan.</p>
            </div>
            <!-- /About -->

            <!-- Twitter Feed -->
            <div class="one-fourth">
                <h5>Latest Tweets</h5>
                <div class="twitter-feed">
                    <p>
                        12 Outstanding Videos That Make Good Creative Use of AudioJungle Tracks <a href="./index.html">http://t.co/7USabnpS</a>
                        <span class="tweet-time">7 hours ago</span>
                    </p>
                    <p>
                        Farewell Envato – I Will Miss You! <a href="./index.html">http://t.co/ommJTJgp</a>
                        <span class="tweet-time">Sep 5 (1 day ago)</span>
                    </p>
                </div>
            </div>
            <!-- /Twitter Feed -->

            <!-- Contacts -->
            <div class="one-fourth">
                <h5>Contact Details</h5>
                <p class="address">3200 Sepulveda Blvd. <br />Manhattan Beach, CA 90266, USA</p>
                <p class="phone">Phone: (415) 124-5678 <br />Fax: (415) 124-5678</p>
                <p class="email">support@reworkmedia.com</p>
            </div>
            <!-- /Contacts -->

            <!-- Photo Stream -->
            <div class="one-fourth last">
                <h5>Photo Stream</h5>
                <ul class="photo-stream">
                    <li><a href="./index.html"><img src="__IMG__/content/photo_stream_01.jpg" alt="" /></a></li>
                    <li><a href="./index.html"><img src="__IMG__/content/photo_stream_02.jpg" alt="" /></a></li>
                    <li><a href="./index.html"><img src="__IMG__/content/photo_stream_03.jpg" alt="" /></a></li>
                    <li><a href="./index.html"><img src="__IMG__/content/photo_stream_04.jpg" alt="" /></a></li>
                    <li><a href="./index.html"><img src="__IMG__/content/photo_stream_05.jpg" alt="" /></a></li>
                    <li><a href="./index.html"><img src="__IMG__/content/photo_stream_06.jpg" alt="" /></a></li>
                    <li><a href="./index.html"><img src="__IMG__/content/photo_stream_07.jpg" alt="" /></a></li>
                    <li><a href="./index.html"><img src="__IMG__/content/photo_stream_08.jpg" alt="" /></a></li>
                </ul>
            </div>
            <!-- /Photo Stream -->

        </div>

        <div class="clear"></div>

        <div class="info container clearfix">

            <!-- Copyright -->
            <ul class="copyright">
                <li>© 2012 REWORK MEDIA. All rights reserved</li>
                <li><a href="./index.html">Legal Notice</a></li>
                <li><a href="./index.html">Terms & Conditions</a></li>
            </ul>
            <!-- /Copyright -->

            <!-- Social Links -->
            <ul class="social-links">
                <li class="twitter"><a href="./index.html">Twitter</a></li>
                <li class="facebook"><a href="./index.html">Facebook</a></li>
                <li class="linkedin"><a href="./index.html">LinkedIn</a></li>
                <li class="digg"><a href="./index.html">Digg</a></li>
                <li class="vimeo"><a href="./index.html">Vimeo</a></li>
            </ul>
            <!-- /Social Links -->

        </div>
    </div>
    <!-- /Footer -->
</block>