<block name="header">
    <!-- Header -->
    <div id="header" class="container clearfix">

        <a href="/" id="logo"><img src="__IMG__/logo.png" alt="" /></a>

        <!-- Navigation -->
        <ul id="navigation">
            <volist name="navigation" id="nav">
                <li>
                    <a href="/{$nav['url']}" >{$nav['title']}</a>
                    <ul>
                        <volist name="nav['children']" id="child">
                            <li><a href="/{$nav['url']}/{$child['title']}" >{$child['title']}</a></li>
                        </volist>
                    </ul>
                </li>
            </volist>
        </ul>
        <!-- /Navigation -->

    </div>
    <!-- /Header -->
</block>