<extend name="Base/index" />
<block name="bodyRight">
    <div class="bodyRight category">
        <h3>文章类别/列表</h3>
        <a href="/Admin/Type/add"><button type="button" class="btn btn-primary">添加</button></a>
        <br>
        <br>
        <table class="table table-bordered menu_manage" >
            <tr><th>id</th><th>主导航</th><th>名称</th></tr>
            <volist name="types" id="vo">
                <tr><td>{$vo.id}</td><td>
                    <volist name="navigation" id="nav">
                        <if condition="$nav['id'] eq $vo['pid']"> {$nav.title} </if>
                    </volist>
                </td><td>{$vo.title}</td></tr>
            </volist>
        </table>
    </div>
</block>