html,body{
    background-color: #222222;
}
header{
    overflow: hidden;
    height:50px;
    line-height:50px;
}
.hide{
    display: none;
}
.login_in{
    margin:100px auto 0 auto;
    padding:50px 20px;
    background-color: #fff;
    max-width:300px;
}
.dropdown-menu .navbarLi{
    border-bottom: 1px solid #ccc;
    height:40px;
    line-height: 40px;
}
.dropdown-menu>li>a{
    height:40px;
    line-height: 40px;
    padding:0 20px;
}
.dropdown-menu .navbarLi:last-child{
    border-bottom: none;
}
.bodyLeft{
    /*margin-top:50px;*/
    display: inline-block;
    width:20%;
    vertical-align: top;
    min-height: 100%;
}
.nav-pills>li>a{
    border-radius: 0;
    padding: 18px 15px;
}
.bodyLeft li:hover a,.bodyLeft li:focus a{
    background-color: #000;
    color: #fff;
}
.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #000;
    color: #9d9d9d;
}
.bodyLeft li:active a,.bodyLeft li.active a{
    color: #fff;
    background-color: #000;
}
.nav-pills>li>a{
    color: #9d9d9d;
}
.nav-stacked>li+li{
    margin:0;
}
.bodyRight{
    width:78%;
    display: inline-block;
    vertical-align: top;
    /*margin-top:50px;*/
    background-color: #fff;
    padding: 20px 0;

}
.category {
    padding:30px 20px;
    min-height:600px;
}
.form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
}
.form-horizontal .control-label {
    padding-top: 0;
}
.menu_manage input{
    width:40px;
}

.pagination a, .pagination span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination .current{
    background-color: #337ab7;
    color: #fff;
}
.article-btn{
    margin-bottom:5px;
}
.article-add-form{
    margin:10px;
}
.article-add-form label{
    text-align: right;
}
.article-add-form .form-group{
    margin:10px 0;
    overflow: hidden;
}
.article-add-form .up-img{
    width:100px;
    height:100px;
    border:10px;
    background-color: #f7f7f9;
    font-size:50px;
    line-height:100px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.article-add-form .up-img input{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    opacity: 0;
}
#articleImgShow{
    max-height:100px;
    width:auto;
    display: inline-block;
    vertical-align: top;
}
#editor-trigger{
    min-height:400px;!important;
}
.navigation-box{
    margin-left:50px;
}
