<extend name="Base/index" />
<!-- Content -->
<block name="bodyTop">
    <h1 class="page-title-inner">
        <span class="section-title">分享</span>
        Amazing things that<br /> bring
        <span class="accent">positive results</span>
    </h1>
</block>
<!-- Main Content -->
<block name="bodyLeft">
    <div id="main">
        <div class="post single clearfix">
            <ul class="post-meta">
                <li class="author">By <a href="./blog_post.html">{$info['author']}</a></li>
                <li class="date">{$info['creattime']}</li>
                <li class="tags">{$info['keywords']}</li>
            </ul>
            <div class="post-entry">
                {$content}
            </div>
        </div>
    </div>
</block>
<block name="bodyRight">
    <!-- Sidebar -->
    <div id="sidebar">

        <input type="text" value="搜索" default-value="搜索" class="search" />

        <!-- Blog Categories -->
        <div class="widget">
            <h5>分享分类 </h5>
            <ul class="categories">
                <volist name=":get_header_blog(2)" id="vo">
                    <li><a href="/blog/{$vo['title']}">{$vo['title']}</a></li>
                </volist>
            </ul>
        </div>
        <!-- /Blog Categories -->

        <!-- Accordion -->
        <div class="widget">
            <h5>最新文章</h5>
            <volist name="latelyLists" id="list">
                <div class="accordion-button"><a href="/blog/{$list['id']}">{$list['title']}</a></div>
                <div class="accordion-content">
                    {$list['description']}
                </div>
            </volist>
        </div>
        <!-- Accordion -->

    </div>
    <!-- /Sidebar -->
</block>
<!-- /Content -->