<extend name="Base/index" />
<block name="bodyRight">
    <div class="bodyRight category">
        <h3>菜单管理/列表</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label"><a class="btn btn-primary" href="/Admin/Menu/add">添加</a></label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="0">选择分类</option>
                        <option value="1">前台网站</option>
                        <option value="2">后台网站</option>
                    </select>
                </div>
            </div>
            <table class="table table-bordered">
               <tr><th>排序</th><th>id</th><th>菜单名</th><th>模块</th><th>类型</th><th>状态</th><th>操作</th></tr>
               <tr><td>排序</td><td>id</td><td>菜单名</td><td>模块</td><td>类型</td><td>状态</td><td>操作</td></tr>
               <tr><td>排序</td><td>id</td><td>菜单名</td><td>模块</td><td>类型</td><td>状态</td><td>操作</td></tr>
               <tr><td>排序</td><td>id</td><td>菜单名</td><td>模块</td><td>类型</td><td>状态</td><td>操作</td></tr>
               <tr><td>排序</td><td>id</td><td>菜单名</td><td>模块</td><td>类型</td><td>状态</td><td>操作</td></tr>
               <tr><td>排序</td><td>id</td><td>菜单名</td><td>模块</td><td>类型</td><td>状态</td><td>操作</td></tr>
               <tr><td>排序</td><td>id</td><td>菜单名</td><td>模块</td><td>类型</td><td>状态</td><td>操作</td></tr>
               <tr><td>排序</td><td>id</td><td>菜单名</td><td>模块</td><td>类型</td><td>状态</td><td>操作</td></tr>
               <tr><td>排序</td><td>id</td><td>菜单名</td><td>模块</td><td>类型</td><td>状态</td><td>操作</td></tr>
            </table>

            <button type="button" class="btn btn-primary">确定排序</button>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </form>
    </div>
</block>