
<block name="bodyLeft">
    <div class="bodyLeft">
        <ul class="nav nav-pills nav-stacked navbar-inverse">
            <li role="presentation" <if condition="CONTROLLER_NAME eq 'Index'">class="active"</if> ><a href="/Admin/Index/index"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a></li>
            <li role="presentation" <if condition="CONTROLLER_NAME eq 'Menu'">class="active"</if> ><a href="/Admin/Menu/index"> <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> 菜单管理</a></li>
            <li role="presentation"  ><a href="#"> <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Messages</a></li>
        </ul>
    </div>
</block>
<block name="bodyRight">
    <div class="bodyRight category">
        <h2>首页</h2>
        <p>您好admin!欢迎使用singcms内容管理平台</p>
    </div>
</block>
