<block name="title">
    <title>jellen</title>
</block>
<block name="common">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/js/index/jquery.js"></script>
    <script src="__PUBLIC__/js/index/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/libs/layer/layer.js"></script>
    <link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css" />
</block>
<block name="otherJs"></block>
<block name="otherCss"></block>


