<extend name="Base/index" />
<!-- Content -->
    <block name="bodyTop">
        <h1 class="page-title-inner">
            <span class="section-title">博客</span>
            Amazing things that<br /> bring
            <span class="accent">positive results</span>
        </h1>
    </block>
    <!-- Main Content -->
    <block name="bodyLeft">
        <div id="main">
            <!-- Normal Post -->
            <volist name="lists" id="vo">
                <div class="post clearfix">
                    <a href="/blog/{$vo['id']}">
                        <h2>{$vo['title']}</h2>
                    </a>
                    <ul class="post-meta">
                        <li class="author">By <a href="./blog.html">{$vo['author']}</a></li>
                        <li class="date">{$vo['creattime']}</li>
                        <li class="tags">{$vo['keywords']}</li>
                    </ul>
                    <div class="post-entry">
                        <a href="/blog/{$vo['id']}" title=""><img src="{$vo['thumb']}" alt="" class="image" /></a>
                        <p>
                            {$vo['description']}
                        </p>
                    </div>
                </div>
            </volist>
            <!-- /Normal Post -->

        </div>
    </block>
    <block name="bodyRight">
        <!-- Sidebar -->
        <div id="sidebar">

            <input type="text" value="搜索" default-value="搜索" class="search" />

            <!-- Blog Categories -->
            <div class="widget">
                <h5>博客分类 </h5>
                <ul class="categories">
                    <volist name=":get_header_blog(1)" id="vo">
                        <li><a href="/blog/{$vo['title']}">{$vo['title']}</a></li>
                    </volist>
                </ul>
            </div>

            <!-- Accordion -->
            <div class="widget">
                <h5>最新文章</h5>
                <volist name="latelyLists" id="list">
                    <div class="accordion-button"><a href="/blog/{$list['id']}">{$list['title']}</a></div>
                    <div class="accordion-content">
                        {$list['description']}
                    </div>
                </volist>
            </div>
            <!-- Accordion -->

        </div>
        <!-- /Sidebar -->
    </block>
<!-- /Content -->
