<extend name="Base/index" />
<!-- Content -->
    <block name="bodyTop">
        <h1 class="page-title-inner">
            <span class="section-title">博客</span>
            Amazing things that<br /> bring
            <span class="accent">positive results</span>
        </h1>
    </block>
    <!-- Main Content -->
    <block name="bodyLeft">
        <div id="main">
            <!-- Normal Post -->
            <volist name="lists" id="vo">
                <div class="post clearfix">
                    <a href="/blog/{$vo['id']}"><h2>{$vo['title']}</h2></a>
                    <ul class="post-meta">
                        <li class="author">By <a href="./blog.html">{$vo['author']}</a></li>
                        <li class="date">{$vo['creattime']}</li>
                        <li class="tags">{$vo['keywords']}</li>
                    </ul>
                    <div class="post-entry">
                        <a href="/blog/{$vo['id']}" title=""><img src="{$vo['thumb']}" alt="" class="image" /></a>
                        <p>
                            {$vo['description']}
                        </p>
                    </div>
                </div>
            </volist>
            <!-- /Normal Post -->

        </div>
    </block>
    <block name="bodyRight">
        <!-- Sidebar -->
        <div id="sidebar">

            <input type="text" value="搜索" default-value="搜索" class="search" />

            <!-- Blog Categories -->
            <div class="widget">
                <h5>博客分类 </h5>
                <ul class="categories">
                    <volist name=":get_header_blog(1)" id="vo">
                        <li><a href="/blog/{$vo['title']}">{$vo['title']}</a></li>
                    </volist>
                </ul>
            </div>

            <!-- Accordion -->
            <div class="widget">
                <h5>Accordion Widget</h5>
                <div class="accordion-button first" id="open"><a href="./blog.html">Website Design</a></div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                </div>
                <div class="accordion-button"><a href="./blog.html">Website Development</a></div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                </div>
                <div class="accordion-button"><a href="./blog.html">Content Management Systems</a></div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                </div>
                <div class="accordion-button"><a href="./blog.html">E-Commerce</a></div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                </div>
            </div>
            <!-- Accordion -->

            <!-- Twitter Feed -->
            <!--<div class="widget">-->
                <!--<h5>Latest Tweets</h5>-->
                <!--<div class="twitter-feed">-->
                    <!--<p>-->
                        <!--12 Outstanding Videos That Make Good Creative Use of AudioJungle Tracks <a href="./blog.html">http://t.co/7USabnpS</a>-->
                        <!--<span class="tweet-time">7 hours ago</span>-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--Farewell Envato – I Will Miss You! <a href="./blog.html">http://t.co/ommJTJgp</a>-->
                        <!--<span class="tweet-time">Sep 5 (1 day ago)</span>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
            <!-- /Twitter Feed -->

            <!-- Photo Stream -->
            <div class="widget">
                <h5>Flickr Feed</h5>
                <ul class="photo-stream">
                    <li><a href="./blog.html"><img src="./images/content/photo_stream_01.jpg" alt="" /></a></li>
                    <li><a href="./blog.html"><img src="./images/content/photo_stream_02.jpg" alt="" /></a></li>
                    <li><a href="./blog.html"><img src="./images/content/photo_stream_03.jpg" alt="" /></a></li>
                    <li><a href="./blog.html"><img src="./images/content/photo_stream_04.jpg" alt="" /></a></li>
                    <li><a href="./blog.html"><img src="./images/content/photo_stream_05.jpg" alt="" /></a></li>
                    <li><a href="./blog.html"><img src="./images/content/photo_stream_06.jpg" alt="" /></a></li>
                    <li><a href="./blog.html"><img src="./images/content/photo_stream_07.jpg" alt="" /></a></li>
                    <li><a href="./blog.html"><img src="./images/content/photo_stream_08.jpg" alt="" /></a></li>
                </ul>
            </div>
            <!-- /Photo Stream -->

        </div>
        <!-- /Sidebar -->
    </block>
<!-- /Content -->
