<extend name="Base/index" />
<block name="bodyRight">
    <div class="bodyRight category">
        <div class="article-add-form">
            <div class="form-group">
                <label for="articleTitle" class="col-sm-2 control-label">banner标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="articleTitle" placeholder="请输入文章标题" value="{$banner['title']}">
                </div>
            </div>
            <div class="form-group">
                <label for="articleDes" class="col-sm-2 control-label">banner描述</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="articleDes" placeholder="请输入文章标题" value="{$banner['description']}">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">banner封面图</label>
                <div class="col-sm-10">
                    <div class="up-img">
                        +
                        <input type="file"  id="articleUpImg"  />
                    </div>
                    <img src="{$banner['path']}" alt="已上传图片" class="img-rounded" id="articleImgShow" >
                </div>
            </div>
            <input type="text" class="hide" name="id" id="cid" value="{$banner['id']}">
            <div style="text-align: right">
                <button type="button" class="btn btn-primary" id="bannerEdit">编辑banner</button>
            </div>
        </div>
    </div>
</block>